@tailwind base;
@tailwind components;
@tailwind utilities;

.HeroSwipper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FD4A36;
}

.HeroSwipper .swiper-pagination .swiper-pagination-bullet{
    background-color: white;
    opacity: 1;
     width: 19px;
    height: 2px;
    border-radius: 0;
}

.PartnerSwiper .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    width: 15px;
    height: 15px;
}
.PartnerSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FD4A36;
    width: 39px;
    opacity: 1;
    border-radius: 25px;
    animation-delay: 300ms;
    transition: ease-in 500ms linear ;
}

.PartnerSwiper .swiper-wrapper{
align-items: center;
}

.PartnerSwiper .swiper-pagination {
    position: relative;
    margin-top: 60px;
}

.StudentSwipper .swiper-pagination .swiper-pagination-bullet-active{
   background-color: #FD4A36;
   width: 19px;
   border-radius: 25px;
}
.StudentSwipper .swiper-pagination{
position: relative;
margin-top: 61px;
}

.HelpSwiper .swiper-button-prev{
position:absolute;
z-index: 30;
left:-10px
}

.HelpCard{
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
}

.CareerCard{
    box-shadow: 15px 0px 50px 0px rgba(128, 158, 249, 0.30);
}
@media screen and (max-width:780px) {
    .hero-img {
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
        }
}

@media  screen and (min-width:1024px) {
.CareerSwiper .swiper-wrapper .swiper-slide {
        scale: 0.82;
    }
    .hero-img{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
 .CareerSwiper .swiper-wrapper .swiper-slide::after {
            scale: 0.82;
            position: absolute;
          opacity: 0.6;
        }

    .CareerSwiper .swiper-wrapper .swiper-slide.swiper-slide-next {
        scale: 0.95;
        opacity: 1;
    }
}

input{
    outline: none;
}

.svg-hover:hover{
    fill: #FD4A36;
}
.svg-hover{
    fill: aliceblue;
}
